@model IEnumerable<BoNuong.Models.GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Giỏ hàng</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html" style="text-decoration : none">Trang chủ</a>
                        <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-left">#</th>
                                <th class="text-left">Tên</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Giảm giá</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td class="text-left">
                                        <img src="@item.Hinh" width="175" />
                                    </td>
                                    <td class="text-left">
                                        <p>@Html.DisplayFor(modelItem => item.Ten)</p>
                                    </td>

                                    @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @id = item.MaSP }))
                                    {
                                        <td class="shoping__cart__price">
                                            @String.Format("{0:0,0}", item.Gia) VNĐ
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="number" min="1" name="txtSolg" value="@item.SoLuong" />
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @String.Format("{0:0,0}", item.GiamGia) VNĐ
                                        </td>
                                        <td class="shoping__cart__total">
                                            @String.Format("{0:0,0}", item.ThanhTien) VNĐ
                                        </td>
                                        <td> <input type="submit" value="Cập nhật" class="btn btn-success" /> </td>
                                    }
                                    <td class="shoping__cart__item__close" style="margin-left:30px">
                                        <span><a href="@Url.Action("XoaGioHang", "GioHang", new { @id = item.MaSP })" class="icon_close " style="text-decoration : none"></a></span>
                                    </td>
                                </tr>

                            }
                        </tbody>

                        </table>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <div style="text-decoration:none;" class="primary-btn cart-btn">
                        <a href="/" style="text-decoration:none;"> Tiếp Tục Mua Sắm </a>
                    </div>

                    @*<a href="#" class="primary-btn cart-btn cart-btn-right" style="text-decoration:none">
                        <span class="icon_loading"></span>
                        Cập nhật thay đổi
                    </a>*@
                </div>
            </div>
            <div class="col-lg-6">
                @*<div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Mã giảm giá</h5>
                        <form action="#">
                            <input type="text" placeholder="Vui lòng nhập mã">
                            <button type="submit" class="site-btn">Áp dụng mã</button>
                        </form>
                    </div>
                </div>*@
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tổng giỏ hàng</h5>
                    <ul>
                        <li>Tổng tiền thanh toán <span style="color:red;" > @String.Format("{0:0,0}", @ViewBag.TongTien) VNĐ </span></li>
                    </ul>
                  <a href="/GioHang/DatHang" class="primary-btn" style="text-decoration:none">TIẾN HÀNH THANH TOÁN</a>
                </div>
            </div>
        </div>
    </div>
</section>